::-webkit-scrollbar {
    display: none;
  }


#content {
    margin: 100px 100px 100px 100px;
    height: 85vh;
    overflow: scroll;
    border:solid 1px red ;
}

* {
    overflow: hidden;
}

#title h1{
    font-size: 300px;
    color: #E03C8A;
}

p {
    font-size: 50px;
    color: #E03C8A;
}