#content {
    display: none;
}

.introduce {
    margin: 200px;
    margin-top: 50px;
    background-color: black;
    border: 1px white solid;
}


#title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 150px;
}

#title img {
    width: 100px;
    height: 100px;
}

#title h1 {
    font-size: 100px;
}

p {
    text-align: left;
    font-size: 50px;
    color: white;
}