#content {
    visibility: visible;
}

h1 {
    text-align: center;
    font-size: 300px;
    color: white;
}

.introduce {
    margin: 200px;
    background-color: black;
}

p {
    text-align: left;
    font-size: 100px;
    color: white;
}