::-webkit-scrollbar {
    display: none;
  }

#content {
    margin: 60px 100px 0px 100px;
    /* position: sticky; */
    /* top: 60px; */
}

#title {
    /* padding-top: 60px;
    position: fixed; */
}

#title h1{
    font-size: 180px;
    text-align: center;
    color:  #E03C8A;
}

h2 {
    font-size: 100px;
}

.box {
    height: 100vh;
    font-size: 30px;
    padding: 100px 100px 100px 100px;
    position: sticky;
    top: 100px;
}

.box iframe {
    margin-top: 10vh;
    width: 30vw; 
    height: 40vh; 
}

#bigbox {
    top: 0px;
}

.textbox {
    /* width: 40vw; */
    position: sticky;
    top: 150px;
}

.textbox p{
    overflow: scroll;
}

.box:nth-child(odd) {
    background-color: #E03C8A;
    display: flex;
    justify-content: space-between;
    color: #080808;
}

.box:nth-child(even) {
    background-color: #080808;
    display: flex;
    justify-content: space-between;
    color:  #E03C8A;
}


.box:nth-last-child(1) {
    margin-bottom: -100px;
}

.box>div {
    width: 35vw; 
    height: 40vh;
}